{% extends "layout.html" %}

{% block title %}
    Your Bookings
{% endblock %}

{% block main %}
    <section class="home_main_body">
    <h1>Welcome to Galway Fitness</h1>
    <h3>Notification: COVID19 <i class="fas fa-viruses"></i></h3>
    <p>Welcome to Galway Fitness your number one spot for getting in shape. Unfortunetly we have to adapt our business during these unfortunate times.
    To ensure social distancing we must reduce our capacity and we must ask our customers to please avail of our time slot booking system.
    Please use this website to book your slot for your workout. We apologise for any inconvenience caused.</p>
    </section>
{% endblock %}